<p>一覧画面</p>
<% @users.each do |user| %>
 <p>
  <%= user.name %>
  <%= user.age %>
  <%= link_to '削除ボタン', "/users/#{user.id}", method: :delete, data: {confirm: "削除しても良いですか？"} %>
  <%= link_to '編集', "/users/#{user.id}/edit", method: :get %>
<<<<<<< HEAD
  </p>
=======
>>>>>>> 40a30681a213b7756c41eb260abf87097578abb4
 </p>
 <% end %>

<%= link_to '投稿画面へ', '/users/new'%>
