<p>一覧画面</p>
<% @users.each do |user| %>
<p>
<%= user.name %>
<%= user.age %>
<%= link_to '削除', "/users/#{user.id}", method: :delete, data: {confirm: "削除しますか?"} %>
<%= link_to '編集', "/users/#{user.id}/edit", method: :get %>
</p>
<% end %>
a
<%= link_to '投稿画面', '/users/new' %>
